<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.russellzhou.trade.data.mapper.SpiderInfoMapper">

  <resultMap id="BaseResultMap" type="com.russellzhou.trade.data.entity.SpiderInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="brand_en" jdbcType="VARCHAR" property="brandEn" />
    <result column="brand_zh" jdbcType="VARCHAR" property="brandZh" />
    <result column="web_channel" jdbcType="VARCHAR" property="webChannel" />
    <result column="product_title" jdbcType="VARCHAR" property="productTitle" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="product_size" jdbcType="VARCHAR" property="productSize" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="origin_price" jdbcType="INTEGER" property="originPrice" />
    <result column="actual_price" jdbcType="INTEGER" property="actualPrice" />
    <result column="lowest_price_flag" jdbcType="TINYINT" property="lowestPriceFlag" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="discount_mode" jdbcType="VARCHAR" property="discountMode" />
    <result column="has_discount_flag" jdbcType="TINYINT" property="hasDiscountFlag" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType"/>
    <result column="operator" jdbcType="VARCHAR" property="operator"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, product_id, brand_en, brand_zh, web_channel, product_title, product_type, product_size, img_url, origin_price, actual_price,  lowest_price_flag, discount, discount_mode, has_discount_flag,  store_name, operate_type, operator, created_time
  </sql>

  <insert id="insert" parameterType="com.russellzhou.trade.data.entity.SpiderInfo">
    insert into `spider_info` (product_id, brand_en,
      brand_zh, web_channel, product_title, 
      product_type, product_size, img_url, 
      origin_price, actual_price, lowest_price_flag, 
      discount, discount_mode, has_discount_flag,
      store_name, operate_type, operator, created_time)
    values (#{productId,jdbcType=VARCHAR}, #{brandEn,jdbcType=VARCHAR},
      #{brandZh,jdbcType=VARCHAR}, #{webChannel,jdbcType=VARCHAR}, #{productTitle,jdbcType=VARCHAR}, 
      #{productType,jdbcType=VARCHAR}, #{productSize,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{originPrice,jdbcType=INTEGER}, #{actualPrice,jdbcType=INTEGER}, #{lowestPriceFlag,jdbcType=TINYINT}, 
      #{discount,jdbcType=DOUBLE}, #{discountMode,jdbcType=VARCHAR}, #{hasDiscountFlag,jdbcType=TINYINT},
      #{storeName,jdbcType=VARCHAR}, #{operateType, jdbcType=TINYINT}, #{operator,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO  `spider_info` (product_id, brand_en,brand_zh,
    web_channel, product_title,product_type,
    product_size, img_url,origin_price,
    actual_price, lowest_price_flag,discount,
    discount_mode, has_discount_flag,store_name,
    operate_type, operator,created_time)
    VALUES
    <foreach collection="list" separator="," item="item" index="index">
      (#{item.productId}, #{item.brandEn},#{item.brandZh},
      #{item.webChannel}, #{item.productTitle},#{item.productType},
      #{item.productSize}, #{item.imgUrl},#{item.originPrice},
      #{item.actualPrice}, #{item.lowestPriceFlag},#{item.discount},
      #{item.discountMode}, #{item.hasDiscountFlag},#{item.storeName},
       #{item.operateType}, #{item.operator},#{item.createdTime})
    </foreach>
  </insert>

  <select id="selectBySelective" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM `spider_info`
    <where>
      <if test="brandList != null">
        `brand_zh` IN
        <foreach collection="brandList" separator="," item="item" index="index" open="(" close=")">
          #{item}
        </foreach>
      </if>
      <if test="storeList != null">
        AND `store_name` IN
        <foreach collection="storeList" separator="," item="item" index="index" open="(" close=")">
          #{item}
        </foreach>
      </if>
      <if test="maxPrice != null">
        AND `actual_price` <![CDATA[ <= ]]> #{maxPrice}
      </if>
      <if test="minPrice != null">
        AND `actual_price` <![CDATA[ >= ]]> #{minPrice}
      </if>
      <if test="createdStartDate != null">
        AND `created_time` <![CDATA[ >= ]]> #{createdStartDate}
      </if>
      <if test="createdEndDate != null">
        AND `created_time` <![CDATA[ <= ]]> #{createdEndDate}
      </if>
      <if test="hasDiscountFlag != null">
        AND `has_discount_flag` = #{hasDiscountFlag}
      </if>
    </where>
  </select>

  <select id="selectBrandList" resultType="java.lang.String">
    SELECT DISTINCT `brand_zh`
    FROM `spider_info`
  </select>

  <select id="selectStoreNameList" resultType="java.lang.String">
    SELECT DISTINCT `store_name`
    FROM `spider_info`
  </select>

</mapper>